# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore logs and temp files
*.log
*.pid
*.sock

# Ignore Docker build files
get-docker.sh
docker-compose.override.yml
.dockerignore
build/
dist/
*.tar.gz
*.whl

# Ignore SQLite database files
db.sqlite3
*.db

# Ignore Raspberry Pi-specific logs and cache
*.nvcache/

# Ignore camera test files
camera_tests/test_files/

# vim files
*.swp

# YOLO model
yolo11n.pt
yolo11n.torchscript
yolo11n_ncnn_model/

